{% extends 'base.html' %}
{% block content %}
<section class="gradient-custom-2">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-lg-9 col-xl-7">
                <div class="card card-profile" data-aos="fade-up" data-aos-duration="600">
                    <div class="text-white d-flex flex-row rounded-top" style="background-color: #000;height: 200px;">
                        <div class="d-flex flex-column ms-4 mt-5" style="width: 150px;">
                            <img class="rounded img-fluid mt-4 mb-2" src="{{ MEDIA_URL }}{{ profile.img }}" alt="Generic placeholder image" style="width: 150px;z-index: 1;">
                            <!-- <a class="btn btn-outline-dark" role="button" data-mdb-ripple-color="dark" style="z-index: 1;background: #5a0f74;"> Edit profile </a> -->
                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                            <p>{{ user.username }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black">
                        <div class="text-center d-flex justify-content-end py-1">
                            <div class="px-3">
                                <p class="mb-1 h5">{{ user.date_joined }}</p>
                                <p class="text-muted small mb-0">Регистрация</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">Информация</p>
                            <div class="p-4">
                                <p class="font-italic mb-1">{{ profile.bio }}</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0">История покупок</p>
                        </div>
                        <div class="row g-2 row-cols-md-2">
                            <div class="col-xxl-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Продукт</th>
                                                <th>Цена</th>
                                                <th>Дата покупки</th>
                                                <th>Количество</th>
                                                <th>Действие</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodys">
                                            {% for purchase_history in history %}
                                            <tr>
                                                <td>{{ purchase_history.product.name }}</td>
                                                <td>{{ purchase_history.product.price }}</td>
                                                <td>{{ purchase_history.created_at }}</td>
                                                <td>{{ purchase_history.quantity }}</td>
                                                <td><button id="modalButton" class="btn btn-dark btn-md mb-2" data-item-id="{{ purchase_history.id }}">Показать</button></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="dataModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ваши данные</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var parentElement = document.getElementById("tbodys");
        parentElement.addEventListener("click", function(event) {
            if (event.target.tagName === "BUTTON") {
            // Retrieve data from the server and update the modal content
                var buttonId = event.target.getAttribute("data-item-id");
                var url1 = "/profile/history/" + buttonId;
                $.ajax({
                    type: "GET",
                    url: url1,
                    dataType: "json",

                    success: function(data) {
                        $('#myModal .modal-body').text(" ");
                        let final = ''
                        for (i = 0; i<data.length; i++){
                            console.log(data[i])
                            final += ("<div>" + "Логин: " + data[i].login + " Пароль: " + data[i].password + "</div>")
                        }
                        $('#myModal .modal-body').append(final);
                    }
                });
                $('#myModal').modal('show');
            };
            });
        });
</script>
{% endblock %}