{% extends "base.html" %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block extra %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

    {% block content %}
    <div class='header-down'>
        <div class="catalog">
            <div class="profile">
                <img class ="profile-img" src="{% static 'Assets/profile.svg' %}" alt="#">
               <p><a class='text' href="@">ИМЯ ПРОФИЛЯ: {{ user.username }}</a><br>
                <a class='text' href="@">ПОЧТА: {{ user.email }}</a><br>
                <a class='text' href="@">ДАТА РЕГИСТРАЦИИ: {{ user.date_joined }}</a><br>
                <a class='text' href="@">БИО</a></p>  
            </div>
            <img class ="line-img" src="{% static 'Assets/line_5.svg' %}" alt="#"> 
        </div>
        <div class ="header-history">
            <a class='text' href="@">ИСТОРИЯ ПОКУПОК</a>
                  <span class='catalog' style="display: flex; align-items: center;"> 
                    <p> <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#"> 
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#"> 
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#">
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#">
                    </p>
                    <p>
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#">
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#">
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#"> 
                        <img class ="catalog-img" src="{% static 'Assets/catalog.svg' %}" alt="#"> </p>
                    </span> 
                    <img class ="line2-img" src="{% static 'Assets/line_5.svg' %}" alt="#">
        </div>
        <div class="footer">
            <span class='footer' style="display: flex; align-items: center;">
                <img class ="footer-img" src="{% static 'Assets/samsung_pay.svg' %}" alt="#"> 
                <img class ="footer-img" src="{% static 'Assets/Юmoney.svg' %}" alt="#"> 
                <img class ="footer-img" src="{% static 'Assets/visa_png.svg' %}" alt="#">
                <img class ="footer-img" src="{% static 'Assets/aplle_pay.svg' %}" alt="#">
                <img class ="footer-img" src="{% static 'Assets/google_pay.svg' %}" alt="#">
            </span>
        </div>
    </div>
    {% endblock %}
