{% load static %}

<html>

<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
</head>

<body>
    <header><nav>
        <div class='header'>
            <div class='container'>
                <div class='header-liner'>
                    <div class='header-logo'>
                        <img src="https://res.cloudinary.com/dpmi8upgh/image/upload/v1674256270/logo_sxmi0f.png" alt="#">
                    </div>
                    <div class = 'nav'>
                        <a class='nav-name' href="@">SUSLBUY</a>
                        <a class='nav-item' href="@">ГЛАВНАЯ</a>
                        <a class='nav-item' href="@">КАТАЛОГ</a>
                        <a class='nav-item' href="@">ОТЗЫВЫ</a>
                        <a class='nav-item' href="@">ВОЙТИ</a>
                        <a class='nav-item' href="@">ТОВАРЫ</a>
                        <a class='nav-item' href="@">О НАС</a>
                    </div>
                
                <div class='login'>
                    <a href="#">
                        <img class ="login-img" src="https://res.cloudinary.com/dpmi8upgh/image/upload/v1674256184/%D0%B2%D0%BE%D0%B9%D1%82%D0%B8_ypms4l.png" alt="#">
                    </a>
                </div>
                <div class='basket'>
                    <a href="#">
                        <img class ="basket-img" src="https://res.cloudinary.com/dpmi8upgh/image/upload/v1674256184/basket_e6a5af.png" alt="#">
                    </a>
                </div>
                <div class='about'>
                    <a href="#">
                        <img class ="about-img" src="https://res.cloudinary.com/dpmi8upgh/image/upload/v1674256406/image_mmydnq.png" alt="#">
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </nav></header>
    {% block content %}{% endblock %}
    <footer>
    </footer>
</body>


</html>